*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
  background: rgb(243, 238, 238);
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  .sidebar-header {
    text-align: center;
  }

 
  
  
  .sidebar_navigation {
   
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
  }
  
  .sidebar_navigation a {
    padding: 16px 45px 10px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #1b0404;
    display: block;
    transition: 0.3s;
    align-items: center;
  }
  
  
  .sidebar_navigation a:hover {
    color: #f17f7f;
  }

  
  .closebtn {
  
  font-size:  40px;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  color:#ff0101;
  }
  .closebtn:hover {
    
    transform: rotate(360deg);
  }
  
  #content {
    background-color: rgb(218, 233, 233);
    
    
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar_navigation {padding-top: 15px;}
    .sidebar_navigation a {font-size: 18px;}
  }
.tabcontent {
  font-size: larger;
  text-align: justify;
  height: 500px
  
}
 